<div class="row">

    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" routerLinkActive="active" [routerLink]="['nuevo']" class="btn btn-danger">Nuevo</button>
            <button type="button" routerLinkActive="active" [routerLink]="['editar']" class="btn btn-warning">Editar</button>
            <button type="button" routerLinkActive="active" [routerLink]="['detalle']" class="btn btn-success">Detalle</button>
        </div>
    </div>

</div>

<router-outlet></router-outlet>