<div class="alert" [ngClass]="alert" role="alert">
    <strong>Hola Clase</strong> han leido este mensaje de alerta
</div>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">success</button>
<button type="button" class="btn btn-info" (click)="alert = 'alert-info'">info</button>
<br><br>

<h3 [ngClass]="{ 'text-danger':  propiedades.danger, 'text-info': !propiedades.danger}">
    Hola mundo
</h3>
<button (click)="propiedades.danger = !propiedades.danger" type="button" class="btn" [ngClass]="{ 'btn-danger':propiedades.danger, 'btn-info':!propiedades.danger}">
Cambiar
</button>
<br><br>
<h3>Proceso asincrono</h3>
<button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
<i class="fas fa-spinner" [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}" ></i>
<span *ngIf="!loading">Guardar Cambios</span>
<span *ngIf="loading">Espere por favor</span>
</button>